/* FONTS */

/* RESET & TYPE */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #333;
  color: #fff;
}
img {
  pointer-events: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
button.inactive {
  opacity: 0.2;
  transform: scale(0.75);
  pointer-events: none;
  transition: all 0.3s ease-out;
}
button:active {
  transform: scale(1.1);
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
.button, .knob {
}

/* LAYOUT */
body {
  background-color: #000;
}
.container {
  margin: 0 10px;

  display: flex;
}
.main-panel {
  position: absolute;
  left: 20px;
  height: 100vh;
  width: 75%;
}
.touchpad {
  position: relative;
  left: 20px;
  height: 600px;
  width: 600px;
  margin-top: 40px;
  margin-left: 60px;
  background-color: #0f81ff;
;
  border-radius: 3000px;
}
.knob {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
  background-color: #f81968;
  background-image: url(img/move.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90px;
  border-radius: 500px;
  cursor: pointer;
}

.button {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #f81968;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110px;
  border-radius: 200px;
}
#rot-cl-button {
  bottom: 30px;
  left: 40px;
  background-color: #19fb73;
  background-image: url(img/cl.svg);
}
#rot-ccl-button {
  bottom: 30px;
  left: 560px;
  background-color: #feff39;
  background-image: url(img/ccl.svg);
}
#wiggle-button {
  bottom: 30px;
  right: 40px;
  background-image: url(img/wiggle.svg);
}

.button-group {
  position: absolute;
  right: 30px;
  top: 80px;
  width: 280px;
  height: 440px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sound-button {
  position: static;
  display: block;
  width: 110px;
  height: 110px;
  margin: 0 10px;
  background-image: url(img/sound.svg);
  background-size: 60%;
  background-repeat: no-repeat;
}

.coin {
  background-color: #feff39;
}
.wowowo {
  background-color: #0f81ff;
}
.dupdupdup {
  background-color: #19fb73;
}
.tutu {
  background-color: #f81968;
  background-color: #fff;
}
