/* FONTS */

/* RESET & TYPE */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #333;
  color: #fff;
}
img {
  pointer-events: none;
}
audio {
  display: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  border-radius: 10px;
  transition: all 0.09s ease-out;
}
button:active {
  transform: scale(0.9);
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

/* LAYOUT */
body {
  background-color: #000;
}
.container {
  margin: 0 10px;

  display: flex;
}
.main-panel {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 75%;
}
.touchpad {
  position: relative;
  left: 10px;
  height: 600px;
  width: 600px;
  margin-top: 40px;
  margin-left: 60px;
  background-color: #0f81ff;
;
  border-radius: 3000px;
}
.knob {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
  background-color: #f81968;
  background-image: url(img/move.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  border-radius: 500px;
  cursor: pointer;
  z-index: 1000;
}

.button {
  position: absolute;
  width: 160px;
  height: 160px;
  background-color: #f81968;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  border-radius: 200px;
}
#rot-cl-button {
  bottom: 30px;
  left: 30px;
  background-color: #19fb73;
  background-image: url(img/cl.svg);
}
#rot-ccl-button {
  bottom: 30px;
  left: 550px;
  background-color: #feff39;
  background-image: url(img/ccl.svg);
}
#wiggle-button {
  bottom: 30px;
  right: 40px;
  background-image: url(img/wiggle.svg);
}

.button-group {
  position: absolute;
  right: 30px;
  top: 80px;
  width: 280px;
  height: 440px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sound-button {
  position: static;
  display: block;
  width: 110px;
  height: 110px;
  margin: 0 10px;
  background-image: url(img/sound.svg);
  background-size: 60%;
  background-repeat: no-repeat;
}

.coin {
  background-color: #feff39;
}
.wowowo {
  background-color: #0f81ff;
}
.dupdupdup {
  background-color: #fff;
}
.tutu {
  background-color: #fb8919;
}
.crash {
  background-color: #f81968;
}
.confused {
  background-color: #19fb73;
}

@media screen and (max-width: 800px) {
  .container {
    transform: translateY(-10px);
  }
  .touchpad {
    position: absolute;
    top: -20px;
    left: 43px;
    height: 300px;
    width: 300px;
  }
  .knob {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
  }
  .button {
    width: 90px;
    height: 90px;
  }
  .button.big {
    left: 0px;
  }
  #rot-cl-button {
    top: 25px;
    left: 0px;
  }
  #rot-ccl-button {
    top: 125px;
    left: 0px;
  }
  #wiggle-button {
    top: 225px;
    left: 0px;
  }
  .button-group {
    top: 25px;
    right: -5px;
    width: 220px;
    height: 300px;
  }
  .sound-button {
    width: 90px;
    height: 90px;
  }
}
